a {
    background-color: #00c853;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px; 
  transition: background-color 0.3s; 
  text-decoration:none;
  }
  
.secondary {
    background-color: #6200ea;
  }
  a:hover {
    opacity: 0.9; 
  }